<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="hr/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
 
</head>
<body>
<section>

  <script src="/js/hr.js/addProject.js"></script>
		
		<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
 <div class="container">

	<div class="row">
            <div class="col-md-9 col-md-offset-3" >
           
           		 <div id="postResultDiv" align="center"></div>
               
                <form class="form-horizontal" id="addProject"  name="addProject" method="post"  enctype="multipart/form-data">
                <h1 class="font-weight-bold"  style="text-align:center;padding:30px ;background-color:grey;text-shadow: 2px 2px 4px #000000;text-shadow: 2px 2px 4px rgb(255, 255, 255);">ADD PROJECTS</h1><hr>
                
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Project Name:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control"  placeholder="Enter Project Name" name="projectName" id="projectName" required>
                        </div>
                      </div><br>
                      
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Client Name:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control"  placeholder="Enter Client Name" name="clientName" id="clientName" required>
                        </div>
                      </div><br>
                      
                          <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Project Manager:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control"  placeholder="Enter Project Manager" name="projectManager" id="projectManager" required>
                        </div>
                      </div><br>
                          <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Frontend Technology:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control"  placeholder="Enter Frontend Technology used" name="frontendTechnology" id="frontendTechnology" required>
                        </div>
                      </div><br>
                        <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Backend Technology:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control"  placeholder="Enter backend technology used" name="backendTechnology" id="backendTechnology" required>
                        </div>
                      </div><br>
                          <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Database Technology:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control"  placeholder="Enter database technology used" name="databaseTechnology" id="databaseTechnology" required>
                        </div>
                      </div><br>
                   
                   	
                        
                    <div class="form-group">        
                      <div class="col-sm-offset-3 col-sm-12">
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                      </div>
                    </div>
                    <hr>
                </form>
                

            </div>

        </div>
	
</div>
</section>
</body>
</html>