<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="hr/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
 
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center ">

  <script src="/js/hr.js/addCompanyD.js"></script>
		
		<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
 <div class="container">

	<div class="row">
            <div class="col-md-6 col-md-offset-3" >
           
           		 <div id="postResultDiv" align="center"></div>
               
                <form class="form-horizontal" id="companyDetailsform"   method="post" style = "position:relative; right:500px; top:2px;">
                <h1 class="font-weight-bold"  style="text-align:center;padding:30px ;background-color:grey;text-shadow: 2px 2px 4px #000000;text-shadow: 2px 2px 4px rgb(255, 255, 255);">Company Details</h1><hr>
                
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="cname"> Name:</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control"  placeholder="Enter Name" name="cname" id="cname" required>
                        </div>
                      </div><br>
                        <div class="form-group">
                      <label class="control-label col-sm-3" for="cemail">Company Email:</label>
                      <div class="col-sm-8">
                        <input type="email" class="form-control"  placeholder="Enter email" name="cemail" id="cemail" required >
                      </div>
                      </div><br>
                  
                      <div class="form-group">
                      <label class="control-label col-sm-3" for="ccity">Company City:</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control"  placeholder="Enter your city" name="ccity" id="ccity" required >
                      </div>
                    </div><br>   
                  
                      <div class="form-group">
                      <label class="control-label col-sm-3" for="establish">Establish:</label>
                      <div class="col-sm-8">
                        <input type="date" class="form-control"  placeholder="Enter company  establish" name="establish" id="establish" required >
                      </div>
                    </div><br>
                      <div class="form-group">
                      <label class="control-label col-sm-3" for="address">Address:</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control"  placeholder="Enter company address" name="address" id="address" required >
                      </div>
                    </div><br>
                      
                          <div class="form-group">
                      <label class="control-label col-sm-3" for="contact">Contact Number:</label>
                      <div class="col-sm-8">
                        <input type="number" class="form-control" placeholder="Enter Contact no"   name="ccontactno" id=ccontactno required>
                      </div>
                    </div><br>
                 
                    <div class="form-group">        
                      <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                      </div>
                    </div>
                    <hr>
                </form>
                

            </div>

        </div>
	
</div>
</section>
</body>
</html>