<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="hr/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center" style="padding: 60px;margin:60px">
			<h1 class="font-weight-bold" style="color: white;">Hr dashboard</h1>
		    <p>
		        <b  style="color: white;">Welcome in Hr dashboard<b>
			</p>
			
			
		</div>
	</section>
</body>
</html>